.header-container {
  width: 100%;
  height: 20%;
  display: flex;
  position: relative;
  align-items: center;
   /* padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits); */
  justify-content: space-between;
  background-color: black;
}
.Heading{
  color: white;
  font-size:150%;
}
.header-image {
  width: 201px;
  height: 103px;
  object-fit: cover;
}